<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Weather app</title>

    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    /> -->

    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    /> -->
    <style>
      body {
        background-color: rgb(158, 160, 172);
      }
    </style>
  </head>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">WeatherInfo</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="second">Hourly</a>
        <a class="p-2 text-dark" href="third">Search</a>
      </nav>
      <a class="btn btn-outline-primary" href="login">Login</a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-5 offset-1">
          <h1>What's the weather</h1>
          <form action="" method="post">
            {% csrf_token %}
            <label for="city">City</label>
            {{form.name}}
           
            <input
              type="submit"
              name="send"
              value="Check weather"
              class="btn btn-danger"
            />
          </form>
        </div>
        <div class="col-5 offset-1">
          <h1>Weather's info:</h1>
          {% for info in all_info %}
          <div class="alert alert-danger">
            <b>City:</b>{{info.city}}<br />
            <b>Temperature:</b>{{info.temp}}<br />
            <b>Humidity:</b>{{info.humidity}}<br />
            <b>Wind:</b>{{info.wind}}<br />
            <img
              src="http://openweathermap.org/img/w/{{info.icon}}.png"
              alt="weather-image"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
